# ignore data
./regular_season_players_running.csv
./full_stats_running.csv
./players_running.csv
./games_details.csv

# cleaning repository
remove_large_files
regular_season_teams_running.csv
teams_running.csv
